# Python
__pycache__/
*.pyc
*.pyo
venv/
env/

# Models
models/*.pt

# OS
.DS_Store
Thumbs.db

# Database
instance/
*.db
__pycache__/

#violation images
static/violations/*
!static/violations/.gitkeep
